.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav p {
  margin: 0 1rem;
}

body {
  color: black;
  margin: 0;
}

footer {
  border: 3px solid black;
}

.authors {
  font-size: large;
  padding-left: 5px;
}

footer div {
  background-color: #b9b9b1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-top: 3px solid black;
}


.main{
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 100%;
}

.card{
  width: 30.333%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius:10%;
}

.image{
  width: 27rem;
  height: 10rem;
  margin: 0.5rem auto;
  border-radius: 2rem;
}

.imgs{
  width: 24rem;
  height: 9rem;
}

.nameMovie{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.namedMovies{
  margin: 0rem;
}

.btnsComRres{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
