body {
  color: black;
  margin: 0;
}

footer {
  border: 3px solid black;
}

footer p {
  font-size: large;
  padding-left: 5px;
}

footer div {
  background-color: #b9b9b1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-top: 3px solid black;
}

