.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav p {
  margin: 0 1rem;
}

body {
  margin: 0;
}

footer {
  border: 3px solid black;
}

.authors {
  font-size: large;
  padding-left: 5px;
}

footer div {
  background-color: #b9b9b1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-top: 3px solid black;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 30;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 10%;
}

.image {
  width: auto;
  height: auto;
  margin: 0.5rem auto;
  border-radius: 2rem;
  padding: 15px;
}

.imgs {
  width: 24rem;
  height: 9rem;
}

.nameMovie {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
}

.namedMovies {
  margin: 0;
}

.btnsComRres {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big-view-body {
  position: fixed;
  top: 7%;
  left:33%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 2%;
  border: 5px solid black;
}

.popupCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.img-container {
  display: flex;
  gap: 5px;
}

.description-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 15px;
}