footer {
  border: 3px solid black;
}

footer p {
  font-size: large;
  padding-left: 5px;
}

footer div {
  background-color: #b9b9b1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-top: 3px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav p {
  margin: 0 1rem;
}
